:root {
  scroll-behavior: smooth;
}

* {
  color: #ffffff;
}

.lightblue {
  color: #118DA8;
}

body {
  margin: 0;
  background: #191919;
  font-family: 'Montserrat';
}

header {
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  backdrop-filter: blur(15px);
  justify-content: space-around;
  box-shadow: 4px 0 16px rgba(0, 0, 0, 0.7);
  z-index: 99999;
}

header ul {
  gap: 30px;
  display: flex;
  align-items: center;
  list-style: none;
}

.logo {
  font-weight: bold;
  font-size: 37px;
}

header li a {
  text-decoration: none;
  font-size: 20px;
  transition: 0.2s;
}

header li a:hover {
  color: #118DA8;
}

.block-2 {
  margin-top: 90px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.block-2 p {
  width: 520px;
}

.container > p {
  font-size: 70px;
}

.level {
  font-weight: bold;
}

.images img:nth-child(1) {
  transition: 0.2s;
  animation: 1s linear image alternate infinite;
}

.images img:nth-child(2) {
  transition: 0.2s;
  animation: 1.2s linear image alternate infinite;
}

.images img:nth-child(3) {
  transition: 0.2s;
  animation: 1.4s linear image alternate infinite;
}

.images img:nth-child(4) {
  transition: 0.2s;
  animation: 1.6s linear image alternate infinite;
}

.images img:nth-child(5) {
  transition: 0.2s;
  animation: 1.8s linear image alternate infinite;
}

.block-3 {
  height: 1800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.block-3 .head {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block-3 .box {
  width: 80%;
  display: flex;
  padding: 20px 20px;
  border-radius: 12px;
  background: #000000;
}

.block-3 .box .block {
  margin-left: 80px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.block-3 .box .block .title {
  padding: 4px 10px;
  width: 40px;
  border-radius: 6px;
  background: #191919;
}

.block-3 .box .block .main__title {
  font-size: 46px;
}

.block-3 .box .block .text {
  opacity: 0.7;
}

.block-3 .head p {
  font-size: 38px;
}

.block-3 .btn {
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  background: #118DA8;
  padding: 12px 20px;
}

.block-4 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.block-4 .block {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: space-between;
}

.block-4 .block .author {
  font-size: 65px;
}

.block-4 .block .circle {
  cursor: pointer;
}

.block-4 .block .text,
.block-4 .block .text-2 {
  width: 556px;
  opacity: 0.7;
  font-size: 22px;
}

.block-5 {
  display: flex;
  justify-content: center;
}

.block-5 > div {
  width: 80%;
  display: flex;
  padding: 60px 80px;
  border-radius: 32px;
  align-items: center;
  background: #000000;
  justify-content: space-between;
}

.block-5 > div .text {
  width: 430px;
  font-size: 72px;
}

.block-5 > div .box-2 {
  gap: 30px;
  width: 40%;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.block-5 > div .box-2 input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  border-radius: 8px;
  padding: 20px 18px;
  background: #191919;
}

.block-5 > div .box-2 input::placeholder {
  color: rgb(174, 174, 174);
}

.block-5 > div .box-2 .btn {
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 16px 28px;
  border-radius: 8px;
  background: #118DA8;
}

.block-6 {
  height: 100vh;
}

.scrollUp {
  display: none;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  padding: 20px 26px;
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
  background: #4f4f4f;
}

@keyframes image {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}